[submodule "themes/apollo"]
	path = themes/apollo
	url = git@github.com:joyceim/hexo-theme-apollo.git
[submodule "themes/light"]
	path = themes/light
	url = git://github.com/tommy351/hexo-theme-light.git
